@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border-box : supayavalue dari border dan juga dari padding itu biar masuk kedalam
    hitungan ketikakita ngeset ukuran sebuah elemen */
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: #232e35;
}

p {
    /* font-size: 1rem; 16 px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: #656d72;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Buttons */
.btn {
    padding: 1rem 1.5rem;
    background-color: white;
    border: 1.5px solid #656d72;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0,04) 0px 3px  5px;
}

/* Titles */
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    display: block;
    left: 0 ;
    top: 50%;
}

/* Layout */
.grid-3 {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* logo and navigation menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo span {
    color: #6376ff;
}

.logo a {
    color: #232e35;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #232e35;
}

/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color: #6376ff;
}

.hero-right img {
    width: 80%;
    border: 4px solid black;
    border-radius: 10px;
}

.hero-right {
    display: flex;
    justify-content: center;
    margin: -6.8rem 0 1rem;
}
.hero-left {
    margin: -6rem 0 1rem;
}

/* Portfolio Section */
#portfolios {
    padding: 6rem 0;
    background-color: #efefef;
}

.portfolio {
    border-radius: 0.7rem;
    overflow: hidden;
    border: 1px solid #d9d9d9;
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio-title a svg:hover {
    fill: #7e74f1;
}

.portfolio-title span {
    color: #6376ff;
}

.portfolio-title a svg {
    transition: 0.2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    padding: -2rem 1rem;
}

.section-title span {
    color: #5a6dff;
}

/* skills & education */
#skills {
    padding: 6rem 0;
    background: white;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0.7rem;
}

.education .line div {
    width: 2px;
    height: 99%;
    background: #b5b8ba;
    position: relative;
}

.education-info p {
    margin: 1rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #b5b8ba;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right p {
    margin: 0.1rem;
}
.skills-title {
    margin: 0rem 0 1rem;
    font-size: 2rem;
}